.ii-page-left {
    float: left;
    width: 60%;
}

.ii-page-right {
    width: 40%;
    float: right;
}

.ii-page-stream {
    margin: 20px;
}

.ii-page-meta {
    width: 100%;
}
.ii-page-meta,
.ii-page-components {
    margin: 20px 0 0 20px;
    padding-right: 40px;
    float: left;
    clear: left;
}

.ii-error-message {
    background-color: #B93C36;
    color: white;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.ii-controls .ii-trash {
    width: 64px;
    height: 64px;
    overflow: hidden;
    background-image: url("../img/icons/trash_empty.png");
    background-repeat: no-repeat;
    background-position: center;
}

.v-ddwrapper-over-middle .ii-trash {
    background-repeat: no-repeat;
    background-position: 8px 1px;
    background-image: url("../img/icons/trash_full.png");
}

.ii-controls .ii-basket {
    width: 64px;
    height: 64px;
    overflow: hidden;
    background-image: url("../img/icons/basket_blue_64.png");
    background-repeat: no-repeat;
    background-position: 0 8px;
}

.ii-page-stream .v-iitag {
    border-left-width: 10px;
}
.ii-page-stream .v-iitag:hover {
    background-color: #f5e6e6;
}
.ii-page-stream .v-iitag .v-iitag-name {
    padding-bottom: 10px;
}
.ii-page-stream .v-iitag .v-iitag-name a span {
    font-size: 18px;
}
.ii-page-stream .v-iitag:hover .v-iitag-name a span {
    color: black;
}
.ii-page-stream .v-iitag .v-iitag-value {
    color: #666666;
}


.ii-page-meta .v-label {
    margin-left: 10px;
}

.ii-page-meta .ii-name {
    font-size: 45px;
    line-height: 50px;
    background-color: #518E49;
    color: white;

    padding: 3px 10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    display: inline-block;
    margin-bottom: 10px;

    white-space: normal;
}

.ii-tag-components {
}

.ii-page-components .v-iitag {
    float: left;
    display: inline-block;
}

.ii-page-components .v-iitag.ii-actor {
    border-left-color: #006699;
}
.ii-page-components .v-iitag:hover.ii-actor {
    background-color: #006699;
}

.ii-page-components .v-button-link,
.ii-page-components .v-button-link:focus {
    background-color: #ffff99;
    float: left;
    display: inline-block;
    margin: 9px;
    padding: 6px;
}
.ii-page-components .v-button-link .v-button-caption{
    text-decoration: underline;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.ii-page-stream .v-iitag.ii-actor {
    border-left-color: #006699;
}
.ii-page-stream .v-iitag:hover.ii-actor {
    background-color: #006699;
}
.ii-page-stream .v-button-link,
.ii-page-stream .v-button-link:focus {
    width: 100%;
    text-align: center;
    background-color: #0066cc;
    float: left;
    display: inline-block;
    margin: 9px;
    padding: 6px;
}
.ii-page-stream .v-button-link .v-button-caption{
    text-decoration: underline;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.ii-tag-components .ii-tag .ii-subcomponents {
/*display: none;*/
}