.v-iitag {
    min-height: 25px;
    margin: 5px;
    border-left: 5px solid #B93C36;
    padding: 5px;
    background-color: white;
}

.v-iitag:hover {
    background-color: #B93C36;
}

.v-iitag .v-iitag-name {
    background: none;
    line-height: normal;
    border: none;
    margin-left: 3px;
    padding-top: 4px;

    display: inline-block;
    float: left;
    clear: both;
}

.v-iitag .v-iitag-value {
    z-index: 100;
    color: #DDDDDD; /*background-color:rgba(255,255,255,0.8);*/
    font-weight: bold;
    font-size: 20px;

    margin-top: 4px;
    margin-left: 10px;
    margin-right: 5px;

    display: inline-block;
    float: right;
}

.v-iitag .v-iitag-name a:link span,
.v-iitag .v-iitag-name a:visited span,
.v-iitag .v-iitag-name a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.v-iitag:hover .v-iitag-name a:link span,
.v-iitag:hover .v-iitag-name a:visited span,
.v-iitag:hover .v-iitag-name a {
    color: white;
}

.v-iitag .v-itemtag-separator {
    clear: both;
}

.v-iitag .v-iitag-component,
.v-iitag .v-iitag-component:focus {
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
    background-color: #e3e3e3;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    display: inline-block;
    float: left;
}
.v-iitag .v-iitag-component a:link span,
.v-iitag .v-iitag-component a:visited span,
.v-iitag .v-iitag-component a {
    text-decoration: none;
    color: #666666;
    font-size: 11px;
    font-weight: bold;
}

.v-iitag .v-iitag-component-common,
.v-iitag .v-iitag-component-common:focus {
    background-color: #009933;
}
.v-iitag .v-iitag-component-common a:link span,
.v-iitag .v-iitag-component-common a:visited span,
.v-iitag .v-iitag-component-common a {
    text-decoration: none;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
}
