@font-face {
    font-family: BebasNeue-webfont;
    src: url("../assets/BebasNeue-webfont.ttf");
}

.container section:first-child {
    margin-top: 60px;
}

.container section {
    margin-top: 30px;
}

#msg {
    position: fixed;
    bottom: 20px;
    right: 10%;
    width: 80%;
    /*z-index: -1;*/
}