#banners {
    width: auto;
}
#top-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ddd;
    color: #888;
    background: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#bbb));  /*66211d*/
    background: -moz-linear-gradient(top,#B93C36,#66211d);
    background: transparent	9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B93C36',endColorstr='#66211d');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#top-stuff-wrap {
    background: rgba(245,245,245,0.9);
    position: fixed;
    z-index: 999;
    width: 100%;
}
#top-stuff {
    display: block;
    clear: both;
    width: 1000px;
    height: 40px;
    margin: 10px auto 0 auto;
    position: relative;
    padding: 5px;
}

#logo {
    float: left;
}
#logo a {
    background: transparent url(../img/logo_text_black.png) no-repeat 10px 5px;
    display: block;
    height: 40px;
    width: 140px;
    margin-right: 5px;
    outline: none;
}

#profile-icon {
    float: right;
}
#profile-icon a {
    background: transparent url(../img/carsticker/user-card_sticker_25.png) no-repeat 8px 8px;
    margin-right: 10px;
    display: block;
    height: 40px;
    width: 40px;
    outline: none;
}

#saved-searches {
    float: right;
}
#saved-searches a {
    background: transparent url(../img/carsticker/pin_sticker_25.png) no-repeat 8px 8px;
    margin-right: 10px;
    display: block;
    height: 40px;
    width: 40px;
    outline: none;
}

#search-form {
    float: right;
    opacity: 1;
    position: relative;
    margin-right: 10px;
}
#search-form span.glass {
    display: block;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 0;
    margin: 6px 0 0 0;
    padding: 7px 8px 5px 8px;
}
#search-form span.glass i {
    background-image: url(http://a2.twimg.com/a/1312244894/phoenix/img/sprite-icons.png);
    background-position: -224px -96px;
    width: 14px;
    height: 14px;
    display: block;
    font-size: 0;
}
#search-form #search-query {
    border: 1px solid #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font: 13px Arial,sans-serif;
    width: 150px;
    padding: 6px 25px 4px 6px;
    color: #888;
    background: #fff;
    -webkit-box-shadow: 0 1px 0 #ccc;
    -moz-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
}

/* General styles */
#container {
    margin-top: 80px;
    margin-bottom: 70px;
}
.dropdown {
    /*display: none;*/
}

/* Item Page Styles */

#item-cover {
    float: left;
    width: 150px;
    margin: 5px 10px 10px 0;
    /*padding: 5px;*/
    /*border: 1px solid #bebebe;*/
}
#item-description {

}

.ii-group-name {
    margin-bottom: 0.5em;
}
.ii-group {
    margin-bottom: 1.5em;
    /*-moz-box-shadow: inset 0 0 6px #888;*/
    /*-webkit-box-shadow: inset 0 0 6px #888;*/
    /*box-shadow: inner 0 0 6px #888;*/
}
.ii-group .ii-tag {
    margin-right: 5px;
    margin-bottom: 8px;
}
.ii-tag {
    position: relative;
    display: inline-block;
    background-color: #ddd;
    cursor: move;
    padding: 2px;
}
.ii-tag .ii-marker {
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 1;*/
    background-color: #B93C36;
    /*background-color: #bebebe;*/
}
.ii-tag a.name {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-left: 9px;
    margin-right: 4px;
    white-space: nowrap;
}
.ii-tag .weight {
    font-size: 0.8em;
    font-weight: bold;
    color: #999;
    margin: 0 3px 0 7px;
}

.ii-recommendation {
    position: relative;
    display: block;
    background-color: #e5e5e5;
    z-index: 0;
    /*border: 1px solid #bebebe;*/
    margin: 0 0 10px 0;
    padding: 2px;
}
.ii-recommendation .ii-marker {
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    /*background-color: #006699;*/
    background-color: #B93C36;
}
.ii-recommendation .ii-weight {
    height: 100%;
    /*height: 3px;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #d0d0d0;
}
.ii-recommendation img.cover {
    position: absolute;
    top: 0;
    right: -50px;
    height: 100%;
    z-index: 11;
}
.ii-recommendation a.name {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: #111;
    margin-left: 10px;
    cursor: move;
    position: relative;
    z-index: 10;
}
.ii-recommendation .ii-reasons {
    margin-left: 10px;
    position: relative;
    z-index: 10;
}
a.reason {
    font-size: 0.85em;
    line-height: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    background-color: #999;
    padding: 0 5px;
    margin-right: 5px;
    cursor: move;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
a.reason.common {
    background-color: #009900;
}
.ii-recommendation .ii-reasons a.reason,
#recommender-box a.reason {
    display: inline-block;
}

.splash {
    text-align: center;
}
body {
    background-color: #f5f5f5;
}

#bottom-stuff-wrap {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(245, 245, 245, 0.75);
}
#bottom-stuff {
    width: 700px;
    margin: 0 auto;
}
#recommender-box, #trash-box {
    float: left;
    display: inline-block;
}
#recommender-box {
    width: 550px;
    min-height: 25px;
    margin: 10px auto 10px auto;
    padding: 5px 30px 5px 40px;
    background: #666666 url(../img/carsticker/shopping-basket_sticker_25.png) no-repeat 8px 8px;;
    position: relative;
}
#recommender-box span.glass {
    display: block;
    position: absolute;
    top: 0;
    cursor: pointer;
    display: block;
    right: 0;
    margin: 6px 0 0 0;
    padding: 7px 8px 5px 8px;
}
#recommender-box span.glass i {
    background-image: url(http://www.picamatic.com/show/2011/08/06/05/03/7756293_16x16.png);
    /*background-position: -224px -96px;*/
    width: 16px;
    height: 16px;
    display: block;
    font-size: 0;
}
#recommender-items .ii-tag,
#recommender-items .reason,
#recommender-box .ii-recommendation,
#recommender-box-helper {
    margin: 5px;
}
#recommender-box-helper {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    color: #999;
}
#recommender-box.drag-hover,
#trash-box.drag-hover{
    box-shadow: 0 0 5px #B93C36;
    -moz-box-shadow: 0 0 5px #B93C36;
    -webkit-box-shadow: 0 0 10px #B93C36;
}
#recommender-box .ii-tag,
#recommender-box .ii-tag a.name,
#recommender-box a.reason {
    cursor: move;
}
#recommender-box .ii-recommendation {
    display: inline-block;

}
#recommender-box .ii-recommendation .name {
    font-size: 12px;
    margin-right: 5px;
}

#trash-box {
    /*text-indent: -9999px;*/
    position: relative;
    /*top: 10px;*/
    margin: 10px auto 10px 10px;
    /*background-color: #B93C36;*/
}
#trash-box a {
    background: transparent url(../img/carsticker/bin_sticker_25.png) no-repeat 8px 8px;
    margin-right: 10px;
    display: block;
    height: 40px;
    width: 40px;
    outline: none;
}

footer .bottom-menu,
footer #footnote {
    text-align: center;
}


/* Search Page here */
#search-page #args {
    height: 50px;
    margin-bottom: 50px;
}

#search-page #recommender-box {
    width: 830px;
    /*display: block;*/
    /*float: none;*/
}
#search-page #trash-box a {
    margin-right: 0;
}



.ui-draggable-dragging {
    z-index: 999;
}

/* TAGS FUN */
/*a.reason {*/
    /*position:relative;*/
	/*margin-left:3px;*/
	/*-moz-border-radius-bottomright:3px;*/
	/*-webkit-border-bottom-right-radius:3px;*/
	/*border-bottom-right-radius:3px;*/
	/*-moz-border-radius-topright:3px;*/
	/*-webkit-border-top-right-radius:3px;*/
	/*border-top-right-radius:3px;*/
    /*height: 16px;*/
	/*}*/
/*a.reason:before{*/
	/*content:"";*/
	/*float:left;*/
	/*position:absolute;*/
	/*top:0;*/
	/*left:-8px;*/
	/*width:0;*/
	/*height:0;*/
	/*border-color:transparent #999 transparent transparent;*/
	/*border-style:solid;*/
	/*border-width:8px 8px 8px 0;*/
	/*}*/
/*div.ii-tag {*/
    /*margin-left: 10px;*/
/*}*/
/*div.ii-tag:before{*/
	/*content:"";*/
	/*float:left;*/
	/*position:absolute;*/
	/*top:0;*/
	/*left:-11px;*/
	/*width:0;*/
	/*height:0;*/
	/*border-color:transparent #B93C36 transparent transparent;*/
	/*border-style:solid;*/
	/*border-width:11px 11px 11px 0;*/
	/*}*/
/*a.reason.common:before {*/
    /*border-color:transparent #009900 transparent transparent;*/
/*}*/
/*a.reason:after{*/
	/*content:"";*/
	/*position:absolute;*/
	/*top:5px;*/
	/*left:0;*/
	/*float:left;*/
	/*width:3px;*/
	/*height:3px;*/
	/*-moz-border-radius:1px;*/
	/*-webkit-border-radius:1px;*/
	/*border-radius:1px;*/
	/*background:#fff;*/
	/*}*/
