/* Things for top menu stolen from Twitter */
#top-stuff {
    position: fixed;
    _position: relative;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
}
#banners {
    width: auto;
}
#top-bar-outer {
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    position: relative;
}
#top-bar-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #B93C36;
    background: -webkit-gradient(linear,left top,left bottom,from(#B93C36),to(#66211d));  /*66211d*/
    background: -moz-linear-gradient(top,#B93C36,#66211d);
    background: transparent	9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B93C36',endColorstr='#66211d');
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#top-bar {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}
#top-bar .top-bar-inside {
    width: 920px;
    margin: 0 40px;
    position: relative;
}
#top-bar .static-links {
    float: left;
}
#top-bar .active-links {
    position: absolute;
    right: 8px;
    top: 0;
}

#logo {
    float: left;
}
#logo a {
    text-indent: -9999px;
    /*text-indent: 45px;*/
    /*background: transparent url(http://a2.twimg.com/a/1312244894/phoenix/img/twitter_logo_right.png) no-repeat 20px 9px;*/
    background: transparent url(http://www.picamatic.com/show/2011/08/03/04/24/7748812_140x36.png) no-repeat 0 2px;
    display: block;
    /*height: 40px;*/
    /*width: 140px;*/
    height: 40px;
    width: 140px;
    margin-right: 5px;
    outline: none;

    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

#search-form {
    float: left;
    opacity: 1;
    position: relative;
}
#search-form span.glass {
    display: block;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 0;
    margin: 6px 0 0 0;
    padding: 7px 8px 5px 8px;
}
#search-form span.glass i {
    background-image: url(http://a2.twimg.com/a/1312244894/phoenix/img/sprite-icons.png);
    background-position: -224px -96px;
    width: 14px;
    height: 14px;
    display: block;
    font-size: 0;
}
#search-form #search-query {
    border: 1px solid black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font: 13px Arial,sans-serif;
    width: 250px;
    padding: 6px 25px 4px 6px;
    color: #CCC;
    background: #666;
    -webkit-box-shadow: 0 1px 0 #a83731;
    -moz-box-shadow: 0 1px 0 #a83731;
    box-shadow: 0 1px 0 #a83731;
}

#global-nav {
    float: left;
    margin-left: 8px;
}
#global-nav li a {
    margin-right: 1px;
    outline: none;
}
#global-nav li:first-child a {
    border-left: none;
}
#global-nav .new a {
    background-image: url(http://a2.twimg.com/a/1312244894/phoenix/img/sprite-icons.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
#global-nav .active a {
    color: white;
    background: rgba(0, 0, 0, 0.4);
    /*background: rgba(0, 0, 0, 0.7);*/
    font-weight: bold;
}

#top-bar ul {
    float: left;
    list-style-type: none;
    margin: 0;
}
#top-bar ul li {
    margin: 0;
    padding: 0;
    float: left;
}
#top-bar ul li a {
    color: #BABABA;
    padding: 10px 10px;
    display: block;
    font-weight: normal;
}
#top-bar .vr {
    border-left: 1px solid #540404;
    border-right: 1px solid #7f2f2f;
    height: 26px;
    display: inline-block;
    margin: 6px 3px 1px 3px;
}

#session {
    display: inline-block;
    padding: 10px 12px;
    height: 20px;
    vertical-align: top;
    cursor: pointer;
    white-space: nowrap;
    _width: 0;
}
#session * {
    outline: none;
}
#session img {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-right: 6px;
    border: none;
    cursor: pointer;
}
#session #screen-name {
    color: #BABABA;
    cursor: pointer;
    font-weight: normal;
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#session #screen-name-dropdown {
    width: 7px;
    height: 7px;
    display: inline-block;
    background: transparent url(http://a2.twimg.com/a/1312244894/phoenix/img/sprite-icons.png) no-repeat scroll -79px -68px;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 1px;
}

#top-bar .dropdown {
    clear: both;
    position: absolute;
    right: 0;
    z-index: 0;
    top: -999px;
    /*top: 40px;*/
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #121212;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    zoom: 1;
    min-width: 160px;
    max-height: 350px;
}
#top-bar ul.user-dropdown {
    font-size: 12px;
    width: 100%;
}
#top-bar ul {
    float: left;
    list-style-type: none;
    margin: 0;
}
#top-bar ul.user-dropdown li {
    clear: both;
    display: block;
    width: 100%;
    background: #333;
    background: rgba(255, 255, 255, 0.1);
}
#top-bar ul.user-dropdown li a,
#top-bar ul.user-dropdown li h2 {
    clear: both;
    display: block;
    background-image: none;
    padding: 6px 15px;
}
/* things stolen from twitter finished */

/* General styles */
#container {
    margin-top: 50px;
    margin-bottom: 70px;
}
.dropdown {
    /*display: none;*/
}

/* Item Page Styles */

#item-cover {
    float: left;
    width: 150px;
    margin: 5px 10px 10px 0;
    /*padding: 5px;*/
    /*border: 1px solid #bebebe;*/
}
#item-description {

}

.ii-group-name {
    margin-bottom: 0.5em;
}
.ii-group {
    /*border: 1px solid red;*/
    margin-bottom: 1.5em;
    /*padding: 5px;*/

    /*-moz-box-shadow: inset 0 0 6px #888;*/
    /*-webkit-box-shadow: inset 0 0 6px #888;*/
    /*box-shadow: inner 0 0 6px #888;*/
}
.ii-tag {
    position: relative;
    display: inline-block;
    background-color: #ddd;
    /*border: 1px solid #bebebe;*/
    cursor: move;
    margin: 3px;
    padding: 2px;
    /*height: 20px;*/
}
.ii-tag:hover {
    background-color: #B93C36;
}
.ii-tag .ii-marker {
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 1;*/
    background-color: #B93C36;
    /*background-color: #bebebe;*/
}
.ii-tag a.name {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-left: 9px;
    padding-top: 15px;
}
.ii-tag:hover a.name {
    color: #fff;
}
.ii-tag .weight {
    font-size: 0.8em;
    font-weight: bold;
    color: #999;
    margin: 0 3px 0 7px;
}
.ii-tag:hover .weight {
    color: #fff;
}

.ii-recommendation {
    position: relative;
    display: block;
    background-color: #e5e5e5;
    z-index: -20;
    /*border: 1px solid #bebebe;*/
    margin: 0 0 10px 0;
    padding: 2px;
}
.ii-recommendation .ii-marker {
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: -10;*/
    /*background-color: #006699;*/
    background-color: #B93C36;
}
.ii-recommendation .ii-weight {
    height: 100%;
    /*height: 3px;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    background-color: #d0d0d0;
}
.ii-recommendation a.name {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: #111;
    margin-left: 10px;
}
.ii-recommendation .ii-reasons {
    margin-left: 10px;
}
.ii-recommendation .ii-reasons a.reason,
#recommender-box a.reason {
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    background-color: #999999;
    padding: 0 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.ii-recommendation .ii-reasons a.reason.common,
#recommender-box a.reason.common {
    background-color: #009900;
}

.splash {
    text-align: center;
}
body {
    background-color: #f5f5f5;
}

#recommender-box-wrap {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#recommender-box, #trash-box {
    display: inline-block;
}
#recommender-box {
    height: 30px;
    width: 400px;
    margin: 0 auto 10px auto;
    padding: 3px;
    background: #fff;
    border: 1px solid #B93C36;
}
#recommender-box:hover,
#trash-box:hover{
    box-shadow: 0 0 5px #B93C36;
    -moz-box-shadow: 0 0 5px #B93C36;
    -webkit-box-shadow: 0 0 5px #B93C36;
}
#recommender-box .ii-tag,
#recommender-box .ii-tag a.name,
#recommender-box a.reason {
    cursor: move;
}
#trash-box {
    text-indent: -9999px;
    height: 36px;
    width: 36px;
    margin: 0 auto 10px auto;
    background: #B93C36;
    border: 1px solid #B93C36;
}

footer .bottom-menu,
footer #footnote {
    text-align: center;
}



