<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/crawlers.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%p %t %date{HH:mm:ss.SSS}] %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%p %t %date{HH:mm:ss.SSS}] %msg%n</Pattern>
        </layout>
    </appender>

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.manymonkeys.crawlers" level="DEBUG">
        <!--<appender-ref ref="STDOUT"/>-->
    </logger>

</configuration>