<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- - - - - - - - - - -
    |  Neo4j                |
    \=====================-->
    <!--<bean id="configuration" class="org.neo4j.kernel.EmbeddedGraphDatabase" factory-method="loadConfigurations">-->
        <!--<constructor-arg value="neo4j.properties"/>-->
    <!--</bean>-->

    <bean id="graphDbService" class="org.neo4j.kernel.EmbeddedGraphDatabase"
          destroy-method="shutdown"
          scope="singleton">
        <constructor-arg index="0" value="/Users/anton/Dev/Owls/data/"/>
        <!--<constructor-arg index="1" ref="configuration"  />-->
    </bean>

</beans>